<div class="container">
  <div class="about-container">
    <div class="about-info">
      <h1>About</h1>

      <h2>Overview</h2>
      <p>Changing the way you approach weight loss can help you be more successful at weight management. 
      Most people who are trying to lose weight focus on just the goal of weight loss. 
      However, setting the right goals and focusing on lifestyle changes such as following a healthy eating plan, watching portion sizes, being physically active, 
      and reducing sedentary time are much more effective.</p>

      <h2>Eat Right</h2>
      <p>To lose weight, it's important to make lifestyle changes with a focus on reducing calories from food and beverages, a healthy eating plan, and portion control. 
      With proper guidance and tools on how to eat right, over time, these changes will become part of your everyday routine.</p>

      <h2>Be Physically Active</h2>
      <p>Being physically active and eating fewer calories will help you lose weight and keep the weight off over time. While people vary quite a bit in the amount of physical activity they need for weight control, 
      many can maintain their weight by doing 150 to 300 minutes (2 ½ to 5 hours) a week of moderate-intensity activity such as brisk walking.
      People who want to lose a large amount of weight (more than 5 percent of their body weight)—and people who want to keep off the weight 
      that they’ve lost—may need to be physically active for more than 300 minutes of moderate-intensity activity each week. We have a provided a start program according to your availability
      split between a 3 day workout schedule and a 5 day workout schedule.</p>

    </div>
  </div>
</div>