<h1> BMI Calculator and Workout schedule </h1>

<div>
<p id=quote>"I <strong>hate</strong> every minute of training.</p>
<p id=quote>But I said, <strong>don't quit</strong>. Suffer now and <strong>live</p>
<p id=quote>the rest</strong> of you life as a <strong>chamption</strong>."</p>
</div>

 <%= image_tag "deadlift.jpg" %>