<h1>Three Day Workout</h1>

<div class="container" id=threeday>
  <div id="threebox1">Day 1</div>
  <div id="threebox2">Day 2</div>
  <div id="threebox3">Day 3</div>
  <div id="threebox4">Day 4</div>
  <div id="threebox5">Day 5</div>
  <div id="threebox6">Day 6</div>
  <div id="threebox7">Day 7</div>
</div>

<div>
  <h3 id="span2"><span id="span1">Description</span></h3>
</div>

<div class="container flex" id="full-workout">
  <div id="day1" class="grid">
    <p><strong>Chest Shoulders & Triceps</strong></p>
    <ul>
    <li>Bench Press – 3 Sets (6-8 reps)</li>
    <li>Incline Dumbbell Bench Press – 3 Sets (8-12 reps)</li>
    <li>Cable Crossovers – 3 Sets (8-12 reps)</li>
    <li>Standing Overhead Press – 3 Sets (8-12 reps)</li>
    <li>Lateral Raises – 3 Sets (8-12 reps)</li>
    <li>Skullcrushers – 3 Sets (8-12 reps)</li>
    <li>Triceps Rope Pushdown – 3 Sets (8-12 reps)</li>
    </ul>
  </div>
  <div id="day2" class="grid">
    <p><strong>Back & Biceps</strong></p>
    <ul>
    <li>Seated Cable Row – 3 Sets (8-12 reps)</li>
    <li>Lat Pulldown – 3 Sets (8-12 reps)</li>
    <li>Bent-Over Fly Dumbbell – 3 Sets (8-12 reps)</li>
    <li>Back Hyperextension – 3 Sets (8-12 reps)</li>
    <li>Bicep Barbell Curls – 3 Sets (8-12 reps)</li>
    <li>Hammer Curls – 3 Sets (8-12 reps)</li>
    </ul>
  </div>
  <div id="day3" class="grid">
    <p><strong>Legs & Core</strong></p>
    <ul>
    <li>Squat Barbell – 3 Sets (8-12 reps)</li>
    <li>Leg Press – 3 Sets (8-12 reps)</li>
    <li>Leg Extension – 3 Sets (8-12 reps)</li>
    <li>Leg Curl – 3 Sets (8-12 reps)</li>
    <li>Standing Calf Raises – 3 Sets (8-12 reps)</li>
    <li>Plank – 3 Sets (30-60 seconds)</li>
    <li>Crunch – 3 Sets (15-20 reps)</li>
    </ul>
  </div>
</div>


