<h1>Three Day Workout</h1>

<div class="container" id=threeday>
  <div id="threebox1">Day 1</div>
  <div id="threebox2">Day 2</div>
  <div id="threebox3">Day 3</div>
  <div id="threebox4">Day 4</div>
  <div id="threebox5">Day 5</div>
  <div id="threebox6">Day 6</div>
  <div id="threebox7">Day 7</div>
</div>

<div>
  <h3><span>Description</span></h3>
</div>



