<h1>Five Day Workout</h1>

<div class="container" id="fiveday">
  <div id="fivebox1">Day 1</div>
  <div id="fivebox2">Day 2</div>
  <div id="fivebox3">Day 3</div>
  <div id="fivebox4">Day 4</div>
  <div id="fivebox5">Day 5</div>
  <div id="fivebox6">Day 6</div>
  <div id="fivebox7">Day 7</div>
</div>

<div>
  <h3><span>Description</span></h3>
</div>

<div class="container" id="full-workout2">
  <div id="schedule">
    <strong>Schedule</strong><br>
    <br>
    Monday: Chest & Triceps<br>
    Tuesday: Back & Biceps<br>
    Wednesday: Cadio & Core<br>
    Thursday: Shoulders & Triceps<br>
    Friday: Legs & Biceps<br>
    Saturday: Rest day<br>
    Sunday: Rest day<br>
    <br>
  </div>
  <div id="day1">
    <strong>Chest & Triceps</strong><br>
    <br>
    Flat Bench Press: 4 Sets (8–10 reps)<br>
    Incline Dumbbell Press: 4 Sets (8–10 reps)<br>  
    Triceps Pushdown – V-Bar Attachment: 3 Sets (9–12 reps)<br>
    Decline Dumbbell Flyes: 3 sets(8–12 reps)<br>
    Skull Crushers: 3 Sets (9–12 reps)<br>
    Decline Bench Press: 3 Sets (8–10 reps each)<br>
    <br>
  </div>
  <div id="day2">
    <strong>Back and Biceps</strong><br>
    <br>
    Seated Cable Rows: 2 sets (8–10 reps)<br>
    Front Lat Pulldown: 2 sets (8–10 reps)<br>
    Bent Over Barbell Rows: 2 sets (8–10 reps)<br>
    Hammer Curls: 3 sets ( 8–12 reps)<br>
    Deadlift: 2 sets (8–10 reps)<br>
    Barbell Curl (EZ-bar): 3 sets (8–10 reps)<br>
    Straight-Arm Pulldown: 2 sets (8–10 reps)<br>
    Concentration Curls: 3 sets (8–12 reps)<br> 
    <br>
  </div>
  <div id="day3">
    <strong>Cardio & Core</strong><br>
    <br>
    Crunches: 3 sets of (10–12 reps)<br>
    Hanging Leg Raise: 3 sets of (10–12 reps)<br>
    Seated Russian Twist: (12–15 reps on each side)<br>
    Bicycle Crunches: (15–20 sets of maximum reps)<br>
    Planks: (3 sets maximum hold)<br>
    Smith Machine Calf Raise: (3 sets 8–15 reps)<br>
    25 mins of cardio before or after your workout<br>
    <br>
  </div>
  <div id="day4">
    <strong>Shoulders & Triceps</strong><br>
    <br>
    Seated Dumbbell Press: 4 sets (8–10 reps)<br>
    Military Press: 4 sets (8–10 reps)<br>
    Dips: 4 sets (8–10 reps)<br>
    Side Lateral Raise: 4 sets (8–12 reps)<br>
    Standing Dumbbell Triceps Extension: 4 sets (8–12 reps)<br>
    Front Lateral Raise: 4 sets (8–12 reps)<br>
    Triceps Pushdown — Rope Attachment: 4 sets (8–12 reps)<br>
    Reverse Flyes: 4 sets (8–12 reps)<br>
    Shrugs: 3 sets (8–10 reps)<br>
    <br>
  </div>
  <div id="day5">
    <strong>Legs & Biceps</strong><br>
    <br>
    Squats: 4 sets (6–8 reps)<br>
    Wide-Grip Standing Barbell Curl: 4 sets (8–12 reps)<br>
    Leg Press: 3 sets (8–10 reps)<br>
    Spider Curl: 4 sets (8–10 reps)<br>
    Smith Machine Calf Raise: 4 sets (8–12 reps)<br>
    Lying Leg Curls: 3 sets (8–12 reps)<br>
    Machine Bicep Curl: 3 sets (8–12 reps)<br>
    Leg Extensions: 3 sets (8–12 reps)<br>
    <br>
  </div>
</div>