<h1>Five Day Workout</h1>

<div class="container" id="fiveday">
  <div id="fivebox1">Day 1</div>
  <div id="fivebox2">Day 2</div>
  <div id="fivebox3">Day 3</div>
  <div id="fivebox4">Day 4</div>
  <div id="fivebox5">Day 5</div>
  <div id="fivebox6">Day 6</div>
  <div id="fivebox7">Day 7</div>
</div>

<div>
  <h3 id="span2"><span id="span1">Description</span></h3>
</div>

<div class="container flex" id="full-workout2">
  <div id="day1">
    <p><strong>Chest & Triceps</strong></p>
    <ul>
    <li>Flat Bench Press: 4 Sets (8–10 reps)</li>
    <li>Incline Dumbbell Press: 4 Sets (8–10 reps)</li>  
    <li>Triceps Pushdown – V-Bar Attachment: 3 Sets (9–12 reps)</li>
    <li>Decline Dumbbell Flyes: 3 sets(8–12 reps)</li>
    <li>Skull Crushers: 3 Sets (9–12 reps)</li>
    <li>Decline Bench Press: 3 Sets (8–10 reps each)</li>
    </ul>
  </div>
  <div id="day2">
    <p><strong>Back and Biceps</strong></p>
    <ul>
    <li>Seated Cable Rows: 2 sets (8–10 reps)</li>
    <li>Front Lat Pulldown: 2 sets (8–10 reps)</li>
    <li>Bent Over Barbell Rows: 2 sets (8–10 reps)</li>
    <li>Hammer Curls: 3 sets ( 8–12 reps)</li>
    <li>Deadlift: 2 sets (8–10 reps)</li>
    <li>Barbell Curl (EZ-bar): 3 sets (8–10 reps)</li>
    <li>Straight-Arm Pulldown: 2 sets (8–10 reps)</li>
    <li>Concentration Curls: 3 sets (8–12 reps)</li>
    </ul> 
  </div>
  <div id="day3">
    <p><strong>Cardio & Core</strong></p>
    <ul>
    <li>Crunches: 3 sets of (10–12 reps)</li>
    <li>Hanging Leg Raise: 3 sets of (10–12 reps)</li>
    <li>Seated Russian Twist: (12–15 reps on each side)</li>
    <li>Bicycle Crunches: (15–20 sets of maximum reps)</li>
    <li>Planks: (3 sets maximum hold)</li>
    <li>Smith Machine Calf Raise: (3 sets 8–15 reps)</li>
    <li>25 mins of cardio before or after your workout</li>
    </ul>  
  </div>
  <div id="day4">
    <p><strong>Shoulders & Triceps</strong></p>
    <ul>
    <li>Seated Dumbbell Press: 4 sets (8–10 reps)</li>
    <li>Military Press: 4 sets (8–10 reps)</li>
    <li>Dips: 4 sets (8–10 reps)</li>
    <li>Side Lateral Raise: 4 sets (8–12 reps)</li>
    <li>Standing Dumbbell Triceps Extension: 4 sets (8–12 reps)</li>
    <li>Front Lateral Raise: 4 sets (8–12 reps)</li>
    <li>Triceps Pushdown — Rope Attachment: 4 sets (8–12 reps)</li>
    <li>Reverse Flyes: 4 sets (8–12 reps)</li>
    <li>Shrugs: 3 sets (8–10 reps)</li>
    </ul>
  </div>
  <div id="day5">
    <p><strong>Legs & Biceps</strong></p>
    <ul>
    <li>Squats: 4 sets (6–8 reps)</li>
    <li>Wide-Grip Standing Barbell Curl: 4 sets (8–12 reps)</li>
    <li>Leg Press: 3 sets (8–10 reps)</li>
    <li>Spider Curl: 4 sets (8–10 reps)</li>
    <li>Smith Machine Calf Raise: 4 sets (8–12 reps)</li>
    <li>Lying Leg Curls: 3 sets (8–12 reps)</li>
    <li>Machine Bicep Curl: 3 sets (8–12 reps)</li>
    <li>Leg Extensions: 3 sets (8–12 reps)</li>
    </ul>
  </div>
</div>