// Place all the styles related to the five_day_workout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#fiveday{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr;
  text-align: center;
}

#fivebox2, #fivebox4, #fivebox6{
  background-color: white;
}


#fivebox1, #fivebox3, #fivebox5, #fivebox7{
  background-color: azure;
}