// Place all the styles related to the three_day_workout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#full-workout {
  display: flex;
  justify-content: space-evenly;
}

#day1{
  justify-content: space-between;
  color: white;

  p {
    text-decoration: underline;
  }
}

#day2{
  justify-content: space-between;
  color: white;
  p {
    text-decoration: underline;
  }
}

#day3{
  justify-content: space-between;
  color: white;
  p {
    text-decoration: underline;
  }
}

#day4{
  justify-content: space-between;
  color: white;
  p {
    text-decoration: underline;
  }
}

#day5{
  justify-content: space-between;
  color: white;
  p {
    text-decoration: underline;
  }
}

#threeday{
  display: grid;
  height: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr;
  text-align: center;
}

#threebox1, #threebox3, #threebox5, #threebox7{
  background-color: azure;
  height: 200px;
}

#threebox2, #threebox4, #threebox6{
  background-color: white;
  height: 200px;
}

#span2{
  text-align: center;
  position: relative;
}

#span2:before{
content: "";
display: block;
width: 775px;
height: 2px;
background: lightgray;
position: absolute;
left: 0;
top: 50%;
z-index: -2;
}

#span2:after{
  content: "";
  display: block;
  width: 775px;
  height: 2px;
  background: lightgray;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
  }

#span1{
    background: white;
  }