
<h1>BMI Calculator</h1>
  <div class="container">
      <div class="row">
        <div id="full-weather" class="col-sm-8 offset-sm-2">
          <form id="form" class="form-inline my-5">
            <input id="feet" type="text" placeholder="Feet" class='form-control flex-grow-1'>
            <input id="inches" type="text" placeholder="Inches" class='form-control flex-grow-1'>
            <input id="weight" type="text" placeholder="Pounds" class='form-control flex-grow-1'>
            <input type="submit" value="Get BMI" class="btn btn-primary ml-3">
          </form>
                </div>
              </div>
            </div>  
  </body>
</html>

  <h2>YOUR BMI</h2>
  <h2 id="result"></h2>

<table border="0" style="width:200px">
	<tbody>
		<tr>
			<td>Under 18.5</td>
			<td>Underweight</td>
		</tr>
		<tr>
			<td>18.5 - 24.9</td>
			<td>Normal</td>
		</tr>
		<tr>
			<td>25 - 29.9</td>
			<td>Overweight</td>
		</tr>
		<tr>
			<td>30 and over</td>
			<td>Obese</td>
		</tr>
	</tbody>
</table>
