
<h1>BMI Calculator</h1>
  <div class="container">
      <div class="row">
        <div id="full-weather" class="col-sm-8 offset-sm-2">
          <form id="form" class="form-inline my-5">
            <input id="feet" type="text" placeholder="Feet" class='form-control flex-grow-1'>
            <input id="inches" type="text" placeholder="Inches" class='form-control flex-grow-1'>
            <input id="weight" type="text" placeholder="Pounds" class='form-control flex-grow-1'>
            <input type="submit" value="Get BMI" class="btn btn-primary ml-3">
          </form>
                </div>
              </div>
            </div>
  </body>
</html>
  <h1>Result</h1>
  <h2>YOUR BMI</h2>

  <h2 id="result"></h2>

