
<h1>BMI Calculator</h1>
<div class="login-box">
  <form id="form">
    <div class="user-box">
      <input type="text" placeholder="Feet" id="feet" name="" required="">
    </div>
    <div class="user-box">
      <input type="text" id="inches" placeholder="Inches" name="">
    </div>
	<div class="user-box">
      <input type="text" id="weight" placeholder="Weight" name="">
    </div>
    <a href="#" id="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
<br>
    <h2 id="bmi-result">Your BMI</h2>
  <h2 id="result"></h2>
</div>
  <%# <div class="container">
      <div class="row">
        <div id="" class="col-sm-8 offset-sm-2">
          <form id="form" class="form-inline my-5">
            <input id="feet" type="text" placeholder="Feet" class='form-control flex-grow-1'>
            <input id="inches" type="text" placeholder="Inches" class='form-control flex-grow-1'>
            <input id="weight" type="text" placeholder="Pounds" class='form-control flex-grow-1'>
            <input type="submit" value="Get BMI" class="btn btn-primary ml-3">
          </form>
                </div>
              </div>
            </div>  
  </body> %>

<div class="container" id="bmi-table">
<table border="0" style="width:200px">
	<tbody>
		<tr>
			<td>Under 18.5</td>
			<td>Underweight</td>
		</tr>
		<tr>
			<td>18.5 - 24.9</td>
			<td>Normal</td>
		</tr>
		<tr>
			<td>25 - 29.9</td>
			<td>Overweight</td>
		</tr>
		<tr>
			<td>30 and over</td>
			<td>Obese</td>
		</tr>
	</tbody>
</table>
</div>